h1 {
    color: rgb(15, 23, 83);
    font-family:'Trebuchet MS'
}

img {
    width: 70%;
    height: 100%;
}

p {
    font-family:'Trebuchet MS'
}

.main {
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.Alan-section {
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
    margin: 10%;
}

.Nick-section {
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
    margin: 10%;
}

.bio {
    text-align: center;
    justify-content: space-evenly;
    margin: 10%;
}

.bio-images {
    max-width:100%;
    height:auto;
}

.projects {
    
}